@model hpMvc.Models.InitializePasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Print Password</title>
</head>
    <body>
        <h1>Initialize Subject Password</h1>
        <h2>Subject Id: @Model.StudyID</h2>
        <h2>Password: @Model.Password</h2>
        <br/>
        <br/>
        Date: @DateTime.Today
        <br/>
        <br/>
    </body>
    <script type="text/javascript">
        window.onload= function ()
        {
            window.print();
        }
    </script>
</html>
