@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>UploadAjax</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ajaxfileupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/UploadAjax.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        <img id="loading" src="@Url.Content("~/Content/images/wait.gif")" style="display:none;">
		<form name="form" action="" method="POST" enctype="multipart/form-data">
        Select a file:
        <input id="fileToUpload" type="file" size="45" name="fileToUpload" class="input" />
        <br />
        <button class="button" id="btnUpload" >Upload</button>
        </form>
    </div>
</body>
</html>
