@{
    ViewBag.Title = "CgmImportExceptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cgm Import Exceptions</h2>
<button id="btnGetExceptions" type="button">Get Exceptions</button>
<br/>
<div id="divExceptions">
    
</div>

<script src="@Url.Content("~/Scripts/CgmImportExceptions.js")" type="text/javascript"></script>

