@{
    ViewBag.Title = "CgmImportExceptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cgm Import Exceptions</h2>
<button id="btnGetExceptions" type="button">Get Exceptions</button>
<br/>
<div>
    Add subjects that you don't want to appear on this report, delimited with a comma.
    <br/>
    <input style="width: 400px" type="text" id="skipList"/>
    <button id="btnSkipList" type="button">Submit skip list</button> 
</div>
<div id="divExceptions">
    
</div>

<script src="@Url.Content("~/Scripts/CgmImportExceptions.js")" type="text/javascript"></script>

