@{
    ViewBag.Title = "Recalculate GIR - Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recalculate GIR - Service</h2>
<dir>
    <span>Recalculate GIR For All Subjects</span>
    <input id="btnRecalc" type="button" value="Recalculte GIR" />
</dir>
<link href="@Url.Content("~/Content/postTestsService.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/recalculateGIR.js")" type="text/javascript"></script>
