@model List<hpMvc.Models.WebLog>
@{
    ViewBag.Title = "Web Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .webgrid{ margin: 4px;border-collapse: collapse;} 
    .webgrid th, .webgrid td{ border: 1px solid #c0c0c0;padding: 5px;}   
    .header{ background-color: #E8E8E8;font-weight: bold;color:#fff}
    .alt{ background-color: #e8e8e8; color:#000}
</style>

<h2>Web Logs</h2>
<div>

@{    
    var grid = new WebGrid(Model, defaultSort: "logDate", rowsPerPage: 50 );
}

@grid.GetHtml(tableStyle: "webgrid", headerStyle: "header", alternatingRowStyle: "alt")
</div>

<link href="@Url.Content("~/Content/ShowWebLogs.css")" rel="stylesheet" type="text/css" />