@{
	var parentEmail = Request["email"];
	var comment = Request["comments"];
	var firstName = Request["firstName"];
	var lastName = Request["lastName"];
	var errorMessage = "";
	var debuggingFlag = false;
	try{
		WebMail.SmtpServer = "smtp.gmail.com";
		WebMail.SmtpPort = 587;
		WebMail.UserName = "halfpint.study";
		WebMail.Password = "ha1fp1nt";
		Webmail.From = "halfpint.study@gmail.com";
		
		WebMail.Send(to: parentEmail,
			subject: "HALF-PINT Families Input",
			body: "Thank you " + firstName + " " + lastName + " for your input! An email has been sent to our research team with your comments: " + comment);
			
		WebMail.Send(to: ccc@halfpintstudy.org,
			subject: "HALF-PINT Families Input",
			body: "Comment from" + firstName + " " + lastName + " :" + comment);
	}
	catch (Exception ex){
		errorMessage = ex.Message;
	}
}
<!DOCTYPE html>
<html>
<head>
  <title>Comment For Family Page</title>
</head>
<body>
  <p>Thank you for your input!</p>
    @if(errorMessage == ""){
      <p>An email message with your comments has been sent to our research team. We will reply to any questions as soon as possible!</p>
    }
    else{
        <p><b>The email was <em>not</em> sent.</b></p>
        <p>Please check that the code in the ProcessRequest page has 
           correct settings for the SMTP server name, a user name, 
           a password, and a "from" address.
        </p>
        if(debuggingFlag){
            <p>The following error was reported:</p>
            <p><em>@errorMessage</em></p>
        }
    }
</body>
</html>
}