@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Forgot Password</h2>

<form action="" method="post">    
    <div id="divEmail">
        Enter you email address &nbsp; @Html.TextBox("email")
        @*<input type="text" id="email" name="email" />*@
        <input id="btnSubmit" type="button" value="Submit" /> 
        <img alt="" id="waitGif" src="@Url.Content("~/Content/images/wait.gif")" />
    </div>
</form>

<script src="@Url.Content("~/Scripts/ForgotPassword.js")" type="text/javascript"></script>