@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Profile</h2>


<form action="" method="post">

    <div>
        My email address:&nbsp; 
        <input type="text" id="emailAddress" name="emailAddress"  />
        &nbsp;&nbsp;
        <input id="btnSaveEmail" type="button" value="Save Email Change" /> 
        <img alt="" id="waitGif" src="@Url.Content("~/Content/images/wait.gif")" />
    </div>    
    <div>
        @Html.ActionLink("Reset my password", "ResetPassword", "Account")
    </div>
    <br />
    <div>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
</form>

<script src="@Url.Content("~/Scripts/profile.js")" type="text/javascript"></script>