@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PostTestCertificate</title>
    <link href="@Url.Content("~/Content/PostTestCertificate.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="divName">
       <h1>Joe Rezuke</h1> 
    </div>
    <div id="divOverview">
        03/01/12
    </div>
    <div id="divNova">
        03/01/12
    </div>
    <div id="divVamp">
        03/01/12
    </div>
    <div id="divEnlite">
        03/01/12
    </div>
    <div id="divParadigm">
        03/01/12
    </div>
    <div id="divWebsite">
        03/01/12
    </div>
    <div id="divChecks">
        03/01/12
    </div>
</body>
</html>
