@model hpMvc.Models.StaffModel
           
<form id="newForm" action="" method="post" >
    <input id="SiteID" name="SiteID" type="hidden" />
    <input id="empIDRequired" value="" name="empIDRequired" type="hidden"/>
	<input id="empIDRegex" value="" name="empIDRegex" type="hidden"/>
	<input id="empIDMessage" value="" name="empIDMessage" type="hidden"/>
    
    @Html.ValidationSummary(true, "Subject completion was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>New @ViewBag.Type Information</legend>
        <label class="lblMain">First Name</label><input type="text" id="FirstName" name="FirstName" />
        <br />
        <label class="lblMain">Last Name</label><input type="text" id="LastName" name="LastName" />
        <br />
        <label class="lblMain">Email</label><input type="text" id="Email" name="Email" />                
        <div id="siteSpecific">            
			<label class="lblMain">EmployeeID</label><input type="text" id="EmployeeID" name="EmployeeID" />
			<span id="empIDmessage"></span>            
		</div>
    </fieldset>
    <br /><input type="submit" id="btnSubmit" value="Save" />&nbsp;&nbsp;&nbsp;<input type="button" id="btnClose" value="Cancel" />
</form>
