@{
    ViewBag.Title = "Nurse Workload Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nurse Workload Survey</h2>

<a href="https://upenn.co1.qualtrics.com/SE/?SID=SV_1A3pKmV7Mf92x9y">
    Nurse Survey <strong>BASELINE</strong> Survey (take this survey <strong>before</strong> you’ve taken care of a HalfPint subject)
</a>
<br/>
<a href="https://upenn.co1.qualtrics.com/SE/?SID=SV_bsAYFjE5Ez2cjEo">
    Nurse Survey <strong>Nursing PRACTICE</strong> Survey (take this survey if you are assigned the survey for a HalfPint subject)
</a>