@{
    ViewBag.Title = "Home Page";
}

<div id="homeMessage">
<span id="spanHalf">half</span><span id="spanPint">pint</span> <span id="spanTheRest">is a multi-center randomized clinical trial that tests the efficacy of a 
    tight glycemic control protocol to reduce mortality and ICU length of stay in critically ill children. 
    Approximately 20 pediatric intensive care units throughout the United States will enroll patients.</span>
</div>
