@{
    ViewBag.Title = "Home Page";
}
@*<div id="homeMessage">
<span id="spanHalf">half</span><span id="spanPint">pint</span> <span id="spanTheRest">is a multi-center randomized clinical trial that tests the efficacy of a 
    tight glycemic control protocol to reduce mortality and ICU length of stay in critically ill children. 
    Approximately 20 pediatric intensive care units throughout the United States will enroll patients.</span>
</div>*@
<div id="divHome">
    <p>
        The HALF-PINT study enrolls children in the intensive care unit (ICU) with high
        blood sugar who need blood pressure medication or are on a machine to help them
        breathe. These patients are among those with the highest risk of doing poorly and
        staying the longest in the ICU. Medical studies have linked high blood sugar to
        increased risk of death and more complicated hospital stays in children in the ICU.
        Treating high blood sugar levels to keep them in a normal range may reduce these
        risks and improve your child’s hospital course.
    </p>
    <p>
        When a patient’s blood sugar is too high, giving insulin helps to lower the blood
        sugar. Insulin is a natural substance that we all have in our bodies and is made
        by an organ called the pancreas. It helps the body use blood sugar by helping the
        sugar enter the body’s cells. Children who are very sick often do not produce enough
        insulin on their own to keep their blood sugar at a normal level. The nurse who
        is caring for a patient in the study will closely monitor his or her blood sugar,
        giving insulin when needed to lower the blood sugar and giving sugar when needed
        to raise the blood sugar.
    </p>
    <p>
        The study will be conducted in approximately 35 ICUs throughout the world and will enroll about 1,414
        children over a period of approximately 6 years. Dr. Michael Agus of Boston Children’s Hospital
        and Dr. Vinay Nadkarni of the Children’s Hospital of Philadelphia are coordinating
        this research in partnership with ICU doctors at many other hospitals around the
        country.
    </p>
    <p>
        The purpose of this research study is to find out if close management of blood sugar
        in a sick child will speed up his or her recovery. We will study this by comparing
        two different levels of blood sugar management. We will use insulin, given together
        with the usual nutrition provided in the ICU, to lower the child’s blood sugar so
        that it stays in one of the two target ranges. The two tight glycemic control (TGC)
        target ranges that the patient will be randomly selected to receive are TGC-1 (80-110
        mg/dL) or TGC-2 (150-180 mg/dL). Both of the blood sugar target ranges being studied
        in HALF-PINT are being used in many ICUs around the country for both adults and
        children, and fall under usual ICU care. This study will examine differences in
        survival, organ failure, the length of ICU stay, and brain function in children
        with high blood sugar and critical illness.
    </p>
</div>
<div class="siteHeader"><u>North American Sites</u></div>
<div align="center" style="margin-top: 40px">
	<iframe src="https://mapsengine.google.com/map/embed?mid=zlZmDpqtGmxA.kOP8EQG1dWqA" width="750" height="480"></iframe>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.childrenshospital.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/bchLogo.jpg" alt="Boston Children's Hospital" width="160px" height="90px"> </a></li>
			<li> <i> Boston, MA </i> </li>
			<li> <b> Study PI's: </b> <a href="http://www.childrenshospital.org/doctors/~/link.aspx?_id=991C67812C8F4C00A4209ED1E5A27FFD&_z=z"> Michael Agus, MD </a> <br> & <br> <a href="http://www.hsph.harvard.edu/david-wypij/"> David Wypij, PhD </a> </li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.chop.edu/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/chopLogo.jpg" alt="Children's Hospital of Philadelphia" width="160px" height="101px"> </a> </li>
			<li> <i> Philadelphia, PA </i> </li>
			<li> <b> Study PI: </b> <a href="http://www.chop.edu/doctors/nadkarni-vinay-m#.VmixSEorKCg"> Vinay M. Nadkarni, MD </a> </li>
			<li> <b> PI: </b> <a href="http://www.chop.edu/doctors/srinivasan-vijay#.VrpNrvkrJhE"> Vijay Srinivasan, MD </a> </li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://childrensnyp.org/mschony/index.html"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/colLogo.jpg" alt="Morgan Stanley Children's Hospital of New York" width="223px" height="58px"> </a> </li>
			<li class="col"> <i> New York City, NY </i> </li>
			<li> <b> PI: </b> <a href="http://www.cumc.columbia.edu/pediatrics/division/critical-care-medicine/faculty#biagas"> Katherine Biagas, MD </a> </li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.pennstatehershey.org/web/childrens"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/psu.jpg" alt="PennState Hershey Children's Hospital" width="197px" height="65px"> </a></li>
			<li> <i> Hershey, PA </i> </li>
			<li> <b> PI: </b> <a href="http://www.pennstatehershey.org/findaprovider/provider/553"> Neal Thomas, MD, M.Sc </a> </li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.westchestermedicalcenter.com/mfch"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/wmc.jpg" alt="Westchester Medical Center" width="124px" height="102px"> </a> </li>
			<li> <i> Valhalla, NY </i> </li>
			<li> <b> PI's: </b> <a href="http://cwpw.org/directory/simon-li/"> Simon Li, MD, MPH </a> <br> & <br> <a href="http://cwpw.org/directory/alan-pinto/"> Alan Pinto, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.chla.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/chla.jpg" alt="Children's Hospital of Los Angeles" width="125px" height="73px"> </a> </li>
			<li> <i> Los Angeles, CA </i> </li>
			<li> <b> PI: </b> <a href="http://www.chla.org/profile/christopher-newth-md"> Christopher J.L. Newth, MD </a> </li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.kaleidahealth.org/childrens/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/wchb.jpg" alt="Women and Children's Hospital of Buffalo" width="150px" height="63px"> </a></li>
			<li> <i> Buffalo, NY </i> </li>
			<li> <b> PI: </b> <a href="https://medicine.buffalo.edu/faculty/profile.html?ubit=albrooks"> Amanda Hassinger, MD MS </a> </li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://mcchildrenshospital.com/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/mcd.jpg" alt="Medical City Children's Dallas" width="169px" height="45px"> </a> </li>
			<li> <i> Dallas, TX </i> </li>
			<li> <b> PI: </b> <a href="http://medicalcityhospital.com/physicians/profile/Gokul-K-Bysani-MD"> Kris Bysani, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.dukechildrens.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/duke.jpg" alt="Duke Children's Hospital and Health Center" width="180px" height="63px"> </a> </li>
			<li> <i>Durham, NC</i> </li>
			<li> <b> PI: </b> <a href="http://pediatrics.duke.edu/faculty/details/0437345"> Kyle Rehder, MD </a> </li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.ynhh.org/childrens-hospital.aspx"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/yale.jpg" alt="Yale - New Haven Children's Hospital" width="122px" height="75px"> </a></li>
			<li> <i> New Haven, CT </i> </li>
			<li> <b> PI's: </b> <a href="https://medicine.yale.edu/pediatrics/critical/people/sarah_kandil.profile"> Sarah Kandil, MD </a> <br> & <br> <a href="https://medicine.yale.edu/pediatrics/critical/people/vince_faustino.profile"> Vincent Faustino, MD, MHS </a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://mcchildrenshospital.com/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/pcmc.jpg" alt="Primary Children's Medical Center" width="112px" height="56px"> </a></li>
			<li> <i> Salt Lake City, UT </i> </li>
			<li> <b> PI: </b> <a href="https://intermountainhealthcare.org/locations/primary-childrens-hospital/medical-providers/doctor%20detail?Doctor=ff68b7a4-c285-4dea-a5ae-80ca221ee5ff"> Ellie L. Hirshberg, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://kosairchildrenshospital.com/Pages/Home.aspx"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/uol.jpg" alt="University of Louisville Kosair Children's Hospital"> </a> </li>
			<li> <i>Louisville, KY</i> </li>
			<li> <b> PI's: </b> <a href="https://kosairchildrenshospital.com/provider/janice-e-sullivan-md-critical-care"> Janice E. Sullivan, MD </a> <br> & <br> <a href="https://kosairchildrenshospital.com/provider/kupper-wintergerst-md-endocrinology"> Kupper Wintergerst, MD </a></li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.choc.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/choc.jpg" alt="Children's Hospital of Orange County" width="248px" height="44px"> </a></li>
			<li> <i> Orange County, CA </i> </li>
			<li> <b> PI: </b> <a href="http://providers.choc.org/findadoc/index.cfm?id=P00348&pid=1255"> Adam Schwarz, MD </a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://umm.edu/programs/childrens"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/ummc.jpg" alt="University of Maryland Medical Center" width="200px" height="50px"> </a></li>
			<li> <i> Baltimore, MD </i> </li>
			<li> <b> PI: </b> <a href="http://findadoctor.umm.edu/Details/23916"> Dayanand Bagdure, MD, MPH</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.luriechildrens.org/en-us/Pages/index.aspx"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/luri.jpg" alt="Ann & Robert H. Lurie Children's Hospital of Chicago" width="226px" height="62px"> </a> </li>
			<li> <i>Chicago, IL</i> </li>
			<li> <b> PI: </b> <a href="https://www.luriechildrens.org/en-us/care-services/find-a-doctor/Pages/Marsillio_Lauren_3270.aspx"> Lauren Marsillio, MD </a></li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.hopkinschildrens.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/jhu.jpg" alt="Johns Hopkins Children's Center" width="170px" height="37px"> </a></li>
			<li> <i> Baltimore, MD </i> </li>
			<li> <b> PI: </b> <a href="http://www.hopkinsmedicine.org/anesthesiology_critical_care_medicine/research/experts/research_faculty/bios/fackler.html"> James C. Fackler, MD </a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.childrenshospitaloakland.org/main/home.aspx"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/cho.jpg" alt="Children's Hospital & Research Center of Oakland" width="170px" height="54px"> </a></li>
			<li> <i> Oakland, CA </i> </li>
			<li> <b> PI: </b> <a href="http://www.childrenshospitaloakland.org/main/find-a-doctor/cvijanovich-natalie-z-md-61.aspx"> Natalie Cvijanovich, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.choa.org/#Mh9OuoKewKBhB6wp.97"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/choa.jpg" alt="Children's Healthcare of Atlanta" width="177px" height="97px"> </a> </li>
			<li> <i>Atlanta, GA</i> </li>
			<li> <b> PI: </b> <a href="http://www.choa.org/Childrens-Hospital-Services/Critical-Care/Pediatric-Intensive-Care/PICU-Physicians/Nga-Pham#6kf0uaxyvcY5GjzV.97
"> Nga Pham, MD, F.A.A.P. </a></li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.mottchildren.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/mott.jpg" alt="C.S. Mott Children's Hospital" width="168px" height="122px"> </a></li>
			<li> <i> Ann Arbor, MI </i> </li>
			<li> <b> PI: </b> <a href="http://www.mottchildren.org/profile/4087/heidi-rosanna-flori-md"> Heidi Flori, MD </a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.uclahealth.org/mattel/Pages/default.aspx"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/ucla.jpg" alt="Mattel Children's Hospital" width="164px" height="106px"> </a></li>
			<li> <i> Los Angeles, CA </i> </li>
			<li> <b> PI: </b> <a href="https://www.uclahealth.org/provider/myke-federman-md"> Myke Federman, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.childrens.com/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/cmcd.jpg" alt="Children's Medical Center Dallas" width="171px" height="75px"> </a> </li>
			<li> <i>Dallas, TX</i> </li>
			<li> <b> PI: </b> <a href="https://www.childrens.com/doctor-profile/peter-m-luckett"> Peter Luckett, MD</a></li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.uchicagokidshospital.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/uchi.jpg" alt="University of Chicago Comer Children's Hospital" width="130px" height="90px"> </a></li>
			<li> <i> Chicago, IL </i> </li>
			<li> <b> PI: </b> <a href="http://www.uchicagokidshospital.org/physicians/neethi-pinto.html"> Neethi Pinto, MD, MS</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.nemours.org/locations/nemours-dupont.html"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/aidp.jpg" alt="Nemours/Alfred I. DuPont Hospital for Children" width="250px" height="52px"> </a></li>
			<li> <i> Wilmington, DE </i> </li>
			<li> <b> PI: </b> <a href="http://findaprovider.nemours.org/Search/Profile/62919/Dr-Shirley-Viteri"> Shirley D. Viteri, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://ccmc.northshorelij.com/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/cohn.jpg" alt="Cohen Children's Medical Center" width="216px" height="45px"> </a> </li>
			<li> <i>New Hyde Park, NY</i> </li>
			<li> <b> PI: </b> <a href="https://www.northshorelij.com/find-care/find-a-doctor/pediatrics/dr-james-brandon-schneider-md-11346141"> James B. Schneider, MD</a></li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.cham.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/fior.jpg" alt="The Children's Hospital at Montefiore" width="147px" height="98px"> </a></li>
			<li> <i> Bronx, NY</i> </li>
			<li> <b> PI: </b> <a href="http://www.montefiore.org/body.cfm?id=1735&action=detail&ref=4862"> Shivanand S. Medar, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.ucsfbenioffchildrens.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/ucsf.jpg" alt="UCSF Benioff Children's Hospital" width="166px" height="61px"> </a></li>
			<li> <i> San Francisco, CA </i> </li>
			<li> <b> PI: </b> <a href="https://pediatrics.ucsf.edu/faculty/patrick-mcquillen-md"> Patrick McQuillen, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.millerchildrenshospitallb.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/mill.jpg" alt="Miller Children's Hospital" width="134px" height="90px"> </a> </li>
			<li> <i>Long Beach, CA</i> </li>
			<li> <b> PI: </b> <a href="http://www.memorialcare.org/find-doctors/physician/christopher-j-babbitt-md"> Christopher Babbitt, MD</a></li>
		</ul>
	</div>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.stlouischildrens.org\"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/stl.jpg" alt="St. Louis Children's Hospital" width="141px" height="82px"> </a></li>
			<li> <i> St. Louis, MO</i> </li>
			<li> <b> PI: </b> <a href="http://www.stlouischildrens.org/our-services/physicians/john-c-lin-md"> John C. Lin, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.seattlechildrens.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/sea.png" alt="Seattle Children's Hospital" width="207px" height="95px"> </a></li>
			<li> <i> Seattle, WA</i> </li>
			<li> <b> PI: </b> <a href="http://www.seattlechildrens.org/medical-staff/ofer-yanay/"> Ofer Yanay, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.stanfordchildrens.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/sch.png" alt="Stanford Children's Hospital" width="215px" height="70px"> </a></li>
			<li> <i> Palo Alto, CA</i> </li>
			<li> <b> PI: </b> <a href="http://www.stanfordchildrens.org/en/doctor/default?id=elora-hussain"> Elora Hussain, MD</a></li>
		</ul>
	</div>	
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.oumedicine.com/childrens"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/chou.png" alt="Children's Hospital at OU Medical Center" width="172px" height="85px"> </a></li>
			<li> <i> Oklahoma City, OK</i> </li>
			<li> <b> PI: </b> <a href="http://findadoc.oumedicine.com/helen-c-allen"> Christine Allen, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.texaschildrens.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/tch.png" alt="Texas Children's Hospital" width="155px" height="101px"> </a></li>
			<li> <i> Houston, TX</i> </li>
			<li> <b> PI: </b> <a href="http://www.texaschildrens.org/find-a-doctor/laura-l-loftis-md"> Laura Loftis, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="https://www.chusj.org/fr/accueil"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/chu.png" alt="CHU Sainte-Justine" width="180px" height="100px"> </a></li>
			<li> <i> Montreal, Québec</i> </li>
			<li> <b> PI: </b> <a href="https://www.chusj.org/fr/accueil"> Philippe Jouvet, MD</a></li>
		</ul>
	</div>	
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.chofsa.org/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/chsa.png" alt="Children's Hospital of San Antonio"> </a></li>
			<li> <i> San Antonio, TX</i> </li>
			<li> <b> PI: </b> <a href="http://www.chofsa.org/network"> Utpal Bhalala, MD, F.A.A.P.</a></li>
		</ul>
	</div>
</div>
<div class="siteHeader"> <u>United Kingdom Sites (Proposed)</u> </div>
<div align="center" style="margin-top: 40px">
	<iframe src="https://www.google.com/maps/d/embed?mid=zlZmDpqtGmxA.k7tptl-f4XnE"" width="750" height="480"></iframe>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.cuh.org.uk/addenbrookes-hospital"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/cuh.png" alt="Addenbrooke's Hospital" width="286px" height="32px"> </a></li>
			<li> <i> Cambridge, UK</i> </li>
			<li> <b> PI: </b> <a href="http://paediatrics.medschl.cam.ac.uk/paediatric-research-at-addenbrookes/paediatric-intensive-care/"> Ricardo Branco, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.uhs.nhs.uk/Ourhospitals/SCH/SouthamptonChildrensHospital.aspx"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/sch.jpg" alt="Southampton Children's Hospital" width="175px" height="33px"> </a></li>
			<li> <i> Southampton, UK </i> </li>
			<li> <b> PI: </b> <a href="http://www.uhs.nhs.uk/ContactUs/Directoryofconsultants/Consultants-by-service/Children-and-young-adult-consultants/Intensive-care/PappachanDrJohn.aspx"> John Pappachan, MD</a></li>
		</ul>
	</div>
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.cmft.nhs.uk/childrens-hospitals"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/cmft.jpg" alt="Royal Manchester Children's Hospital" width="315px" height="60px"> </a> </li>
			<li style="margin-top: -10px;"> <i>Manchester, UK</i> </li>
			<li> <b> PI: </b> <a href="http://www.cmft.nhs.uk/childrens-hospitals/our-services/critical-care/dr-stephen-playfor"> Stephen Playfor, MD</a></li>
		</ul>
	</div>
</div>
<div class="siteHeader"> <u>Australian Sites</u> </div>
<div align="center" style="margin-top: 40px">
	<iframe src="https://www.google.com/maps/d/embed?mid=zlZmDpqtGmxA.kKVTNyQRSdIM"" width="750" height="480"></iframe>
</div>
<div class="containDiv">
	<div class="siteInfo" align="center">
		<ul>
			<li> <a href="http://www.rch.org.au/home/"> <img class="siteInfoImg" src="https://www.halfpintstudy.org/hpProd/Content/Images/siteLogos/rch.png" alt="The Royal Children's Hospital" width="220px" height="60px"> </a></li>
			<li> <i> Melbourne, AU</i> </li>
			<li> <b> PI: </b> <a href="http://www.rch.org.au/picu/"> Thomas Rozen, MD</a></li>
		</ul>
	</div>
</div>