@{
    ViewBag.Title = "Home Page";
}
@*<div id="homeMessage">
<span id="spanHalf">half</span><span id="spanPint">pint</span> <span id="spanTheRest">is a multi-center randomized clinical trial that tests the efficacy of a 
    tight glycemic control protocol to reduce mortality and ICU length of stay in critically ill children. 
    Approximately 20 pediatric intensive care units throughout the United States will enroll patients.</span>
</div>*@
<div id="divHome">
    <p>
        The HALF-PINT study enrolls children in the intensive care unit (ICU) with high
        blood sugar who need blood pressure medication or are on a machine to help them
        breathe. These patients are among those with the highest risk of doing poorly and
        staying the longest in the ICU. Medical studies have linked high blood sugar to
        increased risk of death and more complicated hospital stays in children in the ICU.
        Treating high blood sugar levels to keep them in a normal range may reduce these
        risks and improve your child’s hospital course.
    </p>
    <p>
        When a patient’s blood sugar is too high, giving insulin helps to lower the blood
        sugar. Insulin is a natural substance that we all have in our bodies and is made
        by an organ called the pancreas. It helps the body use blood sugar by helping the
        sugar enter the body’s cells. Children who are very sick often do not produce enough
        insulin on their own to keep their blood sugar at a normal level. The nurse who
        is caring for a patient in the study will closely monitor his or her blood sugar,
        giving insulin when needed to lower the blood sugar and giving sugar when needed
        to raise the blood sugar.
    </p>
    <p>
        The study will be conducted in approximately 30 ICUs and will enroll about 1,880
        children over a period of 4 years. Dr. Michael Agus of Boston Children’s Hospital
        and Dr. Vinay Nadkarni of the Children’s Hospital of Philadelphia are coordinating
        this research in partnership with ICU doctors at many other hospitals around the
        country.
    </p>
    <p>
        The purpose of this research study is to find out if close management of blood sugar
        in a sick child will speed up his or her recovery. We will study this by comparing
        two different levels of blood sugar management. We will use insulin, given together
        with the usual nutrition provided in the ICU, to lower the child’s blood sugar so
        that it stays in one of the two target ranges. The two tight glycemic control (TGC)
        target ranges that the patient will be randomly selected to receive are TGC-1 (80-110
        mg/dL) or TGC-2 (150-180 mg/dL). Both of the blood sugar target ranges being studied
        in HALF-PINT are being used in many ICUs around the country for both adults and
        children, and fall under usual ICU care. This study will examine differences in
        survival, organ failure, the length of ICU stay, and brain function in children
        with high blood sugar and critical illness.
    </p>
</div>
