form
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:2.2em;    
}
.lblMain 
{ 
    display:inline-block;       
    width: 100px;    
}
.spanChk
{
    display:inline-block;
    width:200px;
}
.lblDoc
{    
    display:inline-block;       
    width:110px;    
}
