#tblActive
{
    border-collapse: collapse;
    
}
#tblActive tr td:first-child
{
    text-align:left; 
    vertical-align: top;   
    width:200px;        
}
#tblActive tr th, td
{
    padding:5px;
    border: 1px solid;    
}
#divSideBar2
{
    
    float:left;
    margin-right:0px;
    padding-right:5px;
    border-right: 1px solid #DEDEDE;
}

.QuickLinks
{
    text-decoration:underline;
    font-weight:bold;
    font-size:large;
    
}
