body {
}
#divName
{
    line-height:2.5em;
}
#siteSpecific {
    line-height:1.5em;
}
#empIDExtraLabel {
    font-style: italic
}
.fieldLabel
{
    display:inline-block; 
    width:175px;    
}

.bg1 
{ 
  background-image: url(/content/Images/check.jpg) no-repeat; 
  
} 

