body 
{
    background-image: url(../Content/Images/certificate.jpg);
    background-repeat:no-repeat;    
    height:1300px;    
}
#divName
{
    position:absolute;    
    top:300px;
    left:425px;    
}
#divOverview
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:725px;
}
#divNova
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:770px;
}
#divVamp
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:815px;
}
#divEnlite
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:860px;
}
#divParadigm
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:905px;
}
#divWebsite
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:950px;
}
#divChecks
{
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:690px;
    top:995px;
}

