.surveyLinks {
    margin-left: 20px;
    
}
#divSideBar2
{    
    float:left;
    margin-right:0px;
    padding-right:5px;
    border-right: 1px solid #DEDEDE;
}
#divBarMenu
{    
    
}
#formContent
{      
    margin-left:15px; 
    margin-top:20px;    
    float:left;
}
.QuickLinks
{
    text-decoration:underline;
    font-weight:bold;
    font-size:large;    
}
#divEnrollment {
    height: 290px;
}
#divAnnounce {
    float: left;
    margin-left: 15px;
    overflow: scroll;
    height: 250px;
    width: 780px;
}
#divAnnounce ul{
    margin-left: 15px;
    list-style: disc;
}
.imgGraph 
{
    float: left;
    width: 555px;
    height: 290px;
    margin-left: -20px;
    
}
.enrollmentContent 
{
    margin-left: 7px;
    float: left;
    text-align: left;
    height: 280px;
    width: 238px;
}
.enrollmentContent ul {
    margin-left: 15px;
    list-style: disc;
    
}