.surveyLinks {
    margin-left: 20px;
    
}
#divSideBar2
{    
    float:left;
    margin-right:0px;
    padding-right:5px;
    border-right: 1px solid #DEDEDE;
}
#divBarMenu
{    
    
}
#formContent
{      
    margin-left:15px; 
    margin-top:20px;    
    float:left;
}
.QuickLinks
{
    text-decoration:underline;
    font-weight:bold;
    font-size:large;    
}
#divEnrollment {
    height: 290px;
}
#divAnnounce {
    float: left;
    margin-left: 15px;
}
.imgGraph 
{
    float: left;
    width: 555px;
    margin-left: -20px;
    
}
.enrollmentContent 
{
    margin-left: 0px;
    float: left;
    text-align: left;
}