.surveyLinks {
    margin-left: 20px;
    
}
#divSideBar2
{    
    float:left;
    margin-right:0px;
    padding-right:5px;
    border-right: 1px solid #DEDEDE;
}
#divBarMenu
{    
    
}
#formContent
{      
    margin-left:25px; 
    margin-top:20px;    
    float:left;
}
.QuickLinks
{
    text-decoration:underline;
    font-weight:bold;
    font-size:large;    
}
.imgGraph {
    width: 75%;
    
}