.webgrid {
    margin: 4px;border-collapse: collapse;
} 
.webgrid th, .webgrid td {
    border: 1px solid #c0c0c0;padding: 5px;
}   
.header {
    background-color: #E8E8E8;font-weight: bold;color:#fff
}
.alt {
    background-color: #e8e8e8; color:#000
}