@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        #background
        {   
            height:500px;            
            background-image:url("content/images/emal.jpg");
            
            
        }
        
        
    </style>
    <title>Index</title>
</head>
<body>
    <div id="background">
       This is a test!      
    </div>
</body>
</html>
