@{
	ViewBag.Title = "Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div id="background">
            This is a test!    
            <input type="hidden" name="date" id="date"/>  
            <input type="hidden" name="time" id="time"/>
            <button id="btnSubmit" type="button">submit</button> 
        </div>

<script src="@Url.Content("~/Scripts/test.js")" type="text/javascript"></script>
