@{
    ViewBag.Title = "Temp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul id="quick">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a>
            <ul>
                <li><a href="#">Item 3-1</a></li>
                <li><a href="#">Item 3-2</a></li>
                <li><a href="#">Item 3-3</a></li>
                <li><a href="#">Item 3-4</a></li>
                <li><a href="#">Item 3-5</a></li>
            </ul>
        </li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
    </ul>
</div>
<script src="@Url.Content("~/Scripts/test.js")" type="text/javascript"></script>
<style>
  .ui-menu { width: 150px; }
  </style>