@model hpMvc.Models.AddAdditionalStudyIdsModel
@{
    ViewBag.Title = "Add Additional Study Id's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Additional Study Id's</h2>

@using (Html.BeginForm("AddAdditionalStudyIds", "Sites", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <span>Select a site:&nbsp;</span>
    @Html.DropDownListFor(m => m.SiteId, new SelectList(Model.Sites, "Value", "Text", Model.SiteId))
    
    <br/>
    <br/>
    <div>
        
        <span class="lblFile">Select the study id's import file: </span>
        <span class="col3">
            <input type="file" value="Select File" name="files" id="files_0" />
        </span>
        <br/>
        <input id="btnSubmit" type="submit" value="Submit"/>
        <span id="spanWait">Please wait...</span>
        <div>
            @Html.ValidationSummary()
            @ViewBag.error
        </div>

    </div>
}
<script src="@Url.Content("~/Scripts/AddAdditionalStudyIds.js")" type="text/javascript"></script>