@{
    ViewBag.Title = "Add Additional Study Id's Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Additional Study Id's Success</h2>
<div>
    You have successfully added additional study id's!
</div>

<div>
    @Html.ActionLink("Add more study id's", "AddAdditionalStudyIds")
</div>


