@model hpMvc.ViewModels.FamiliesViewModel
@{
    ViewBag.Title = "HALF-PINT Families Contact Confirmation";
}

<h2>Contact Email Confirmation</h2>
<div>
    <p>
        Thank you for sending in your comments! We greatly appreciate your interest in improving the HALF-PINT trial. We will respond to all of your questions as soon as possible.
    </p>
    <p>
        Sincerely,
    </p>
    <p>
        The HALF-PINT Team
    </p>
</div>
<div>
    @Html.ActionLink("Go back to Des families ", "Index")
</div>
