@model List<hpMvc.Models.StudyCompleted>

<table id="tblActive">
	<thead>
		<tr>
			<th style="width:0px"></th>
			<th>Study ID</th>
			<th>Date Randomized</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var m in Model)                
		{
			<tr>
				<td style="width:0px">@m.ID</td>
				<td>@m.StudyID</td>
				<td>@m.DateRandomized.ToShortDateString()</td>
				<td><input class="btnComplete" type="button" value="Set Completed" /></td>
			</tr>
		}
	</tbody>
</table>