@model hpMvc.Models.SiteGerenicNurse

@{
    ViewBag.Title = "ResetSitePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Generic Nurse Account</h2>
<label>Generic Nurse Name:</label><span id="userName">@Model.UserName</span>
<br/>
<label>Generic Nurse Password:</label><span id="userPassword">@Model.UserPassword</span>
<br/>
<br/> 
<button id="btnReset">Reset Account</button>

<script src="@Url.Content("~/Scripts/resetGenericNurseAccount.js")" type="text/javascript"></script>
