@{
    ViewBag.Title = "Staff Subscriptions Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Staff subscriptions were saved successfully!</h3>

@Html.ActionLink("Back to Staff Updates", "UpdateStaffInformation");
