@model List<hpMvc.Models.EnteralFormula>

@{
    ViewBag.Title = "Formula List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formula List</h2>

<div>
    @{
 
        var grid = new WebGrid(Model, defaultSort: "SiteId", rowsPerPage: 50);
    }
 
    @grid.GetHtml(columns:grid.Columns(
        grid.Column("ID", header:"Internal Id"),
        grid.Column("Name", header:"Formula Name", format: @<text>@Html.ActionLink((string)item.Name, "FormulaDetails", "CalorieCalc", new { id = item.ID }, null)</text>),
                    grid.Column("Kcal_ml", header: "kCal per unit", format: (item) => string.Format("{0:N}", item.Kcal_ml)),
        grid.Column("ProteinKcal", header: "Protein % of kcal"),
        grid.Column("ChoKcal", header: "CHO % of kcal"),
        grid.Column("LipidKcal", header: "Lipid % of kcal")
                      ))
</div>
